
body{
    background-color: #131316;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}
section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
html {
    scroll-behavior: smooth;
}
.hidden {
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
}